body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #faf8f8;
    color: #000000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 0 20px;
}
 
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

.nav-right a {
    margin-left: 20px;
}

.nav-right {
    display: flex;
}

nav a:hover {
    background-color: #575757;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
header {
  background-color: #007BFF;
  color: white;
  padding: 20px;
}
h1 {
  margin: 0;
}
.about, .how-it-works, .cmv {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
.about ul {
  list-style: none; 
  padding-left: 0; 
}

.steps div {
  margin: 10px 0;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #78afb5;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }

  footer {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: white;
}
footer a {
    color: #FFD700;
    text-decoration: none;
}
