body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #faf8f8;
    color: #000000;
    background: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSWodBkbzI4ggi2_42g9ybRwWzVzzF6x97arX9URKzBuTyRgu-voY6xRMJGpaluLn6xFBI1nTp9TM3vQZh6C-mkXBu9ClWOXSLUQoY45A') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.9;
    ;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding: 0 20px;
}
 
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

.nav-right a {
    margin-left: 20px;
}

.nav-right {
    display: flex;
}

nav a:hover {
    background-color: black;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
header {
  background-color: #f7f7f8;
  color:black;
  padding: 20px;
}
h1 {
  margin: 0;
}
.about, .how-it-works, .cmv {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
.about ul {
  list-style: none; 
  padding-left: 0; 
}

.steps div {
  margin: 10px 0;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #4190a8;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #b7bb6c;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #1f74c9;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #024a52;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }

  footer {
    margin-top: 20px;
    padding: 10px;
    background: black;
    color: white;
}
footer a {
    color: #FFD700;
    text-decoration: none;
}
.box {
  height: 50px;
  margin: 5px;
  width: 160px;
  padding-right: 16px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

button:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}


#eci{
  width: 100px;
    height: 100px;
    border-radius: 50%;
    display:inline-block;
    margin: 0 auto 8px;
}