<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="../static/signup.css">
</head>
<body>
    <div class="signup-container">
        <h2>🗳️ Create Your Account</h2>
        <form action="login.html" method="get">
            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" required>

            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="date">Date Of Birth</label>
            <input type="date" id="date" name="date" required>

            <label for="number">Aadhar Number</label>
            <input type="tel" id="Aadhar" name="Aadhar" required>

            <label for="voterId">Voter ID</label>
            <input type="text" id="voterId" name="voterId" required>

            <label for="state">State</label>
            <input type="text" id="state" name="state" required>

            <label for="city">City</label>
            <input type="text" id="city" name="city" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit"><a href="login.html"></a>Sign Up</button>
            <!-- <button><a href="login.html">Log In</a></button> -->
        </form>
        <p>Already have an account? <a href="login.html">Login Here</a></p>
    </div>

</body>
</html>